.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  z-index: 30;
  color: #4949b1ff; // Tailwind green-600
  cursor: pointer;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:hover {
    color: rgb(6, 6, 177); // 약간 밝은 초록 (hover)
  }
}
